$main-font: "Oswald", sans-serif;
$additional: "Open Sans", sans-serif;
$primary-title-color: #000000;
$primary-white-color: #ffffff;
$secondary-title-color: #404149;
$description-color: #999999;
$accent-color: #f7654a;
$hover-color: rgba(192, 192, 192, 0.76);
$hover-color-dark: rgba(192, 192, 192, 0.16);

// $transparent-white: rgba(255, 255, 255, 0.6);
// $social: #afb1b8;

// $breakpoint-mobile: 480px;
// $breakpoint-tablet: 768px;
// $breakpoint-desktop: 1200px;
